<h1>Basket</h1>
{% for item in basket %}

<div id="">

    <h3>{{ item.name }}</h3>
    <img src="../img/{{ item.image }}" alt="img" width="150"><br>
    <p>price: {{ item.price }}</p>
    <button>Delete</button>
    <div>Jajhvbnm pfrf[
    </div>
</div>

{% else %}
    No Goods
{% endfor %}

